<!DOCTYPE html>
<html ng-app="findFriends" ng-controller="findFriendsCtrl">

<head>
    <title>Social Network - Find friends</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="angular/angular.min.js"></script>
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="row">
        <h1 style="margin-left: 40px;">Remove Friends</h1>
        <h4 style="margin-left: 40px;"><a href="/profile">Profile</a></h4>
        
         
        <div class="col-md-4">
<div ng-repeat="person in personlist" class="well">
   {{ person.local.userName }}<br/>
   <button ng-click="removeFriend(person._id)" class="btn btn-danger">Remove Friend</button>
    </div>
            </div>
            </div>
   
</body>
	<script>
		var app = angular.module('findFriends',[]);
		app.controller('findFriendsCtrl',['$scope','$http',function($scope,$http){
			$http.get('findfriends').then(function(res){
      $scope.personlist = res.data;
      });

                $scope.removeFriend = function(friendid){
                    $http.post('removefriend', {
                        friendID: friendid
                    }).then(function(res){
                        console.log("removed friend");
                        $http.get('findfriends').then(function(res){
                           $scope.personlist =  res.data; 
                        });
                    }, function(err){
                        console.log(err);
                    });
                };
		}]);
	</script>
</html>