<!DOCTYPE html>
<html ng-app="findUsers" ng-controller="findUsersCtrl">

<head>
    <title>Social Network - Find friends</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="angular/angular.min.js"></script>
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
   
    <jumbotron>
    <h1 style="margin-left: 20px"class="text center">Make New Friends</h1>
         <h4 style="margin-left: 20px"><a href="/profile">Profile</a></h4>
    </jumbotron>
    <div class="row">
        <div class="col-md-4">
<div ng-repeat="person in personlist" class="well">
   
    <a href="/userprofile/{{ person._id }}">{{ person.local.userName }}</a><br/>
   <button ng-click="addFriend(person._id)" class="btn btn-success">Add Friend</button>
   
</div>
            </div>
        </div>
    
</body>
	<script>
		var app = angular.module('findUsers',[]);
		app.controller('findUsersCtrl',['$scope','$http',function($scope,$http){
			$http.get('findusers').then(function(res){
      $scope.personlist = res.data;
      });
			$scope.addFriend = function(friendid){
                    $http.post('addfriend', {
                        id: friendid
                    }).then(function(res){
//                        console.log("added friend");

                    });
                };

		}]);
	</script>
</html>