<!DOCTYPE html>
<html>

<head>
    <title>Social Network</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div>
        <%= model.local.userName %><br/>
        <%= model.local.gender %><br/>
        <%= model.local.age %><br/>
        <%= model.local.usertype %>
        <h4><a href="/profile">Profile</a></h4>
    </div>
</body>
   
</html>










